body {
    margin: 0;
}

.calculator {
    width: 400px;
}

.calculator__input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    box-sizing: border-box;
}

.calculator__board {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,calc(100%/6));
    grid-template-rows: repeat(4, 40px);
}

.calculator__button--ce {
    grid-column: 5 / span 2;
}

.calculator__button--61 { /* The "=" character. */
    grid-column: 6;
    grid-row: 2 / span 3;
}